@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Righteous&family=Syne+Mono&display=swap");

body {
  background: #4776e6;
  background: -webkit-linear-gradient(0deg, #4776e6 0%, #8e54e9 100%);
  background: linear-gradient(0deg, #4776e6 0%, #8e54e9 100%);
}

#title {
  font-family: "Syne Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;

  animation: neonAnim 1.5s alternate-reverse infinite;
  color: #00ffaa;

  font-size: 40px;
}

@keyframes neonAnim {
  from {
    text-shadow: 0 0 5px rgba(0, 255, 170, 1), 0 0 10px rgba(0, 255, 170, 0.9),
      0 0 20px rgba(0, 255, 170, 0.8), 0 0 40px rgba(0, 255, 170, 0.7);
  }
  to {
    text-shadow: 0 0 10px rgba(0, 255, 170, 1), 0 0 20px rgba(0, 255, 170, 0.9),
      0 0 30px rgba(0, 255, 170, 0.8), 0 0 50px rgba(0, 255, 170, 0.7);
  }
}
